<%= render 'shared/error_messages', :object => @user %>

<div class="field-item">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field-item">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field-item">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="field-item">
  <%= f.label :password_confirmation, "Confirm your password" %>
  <%= f.password_field :password_confirmation %>
</div>

<% if !f.object.admin? %>
  <div class="field-item">
    <%= f.label :role %>
    <%= select('user', 'role', options_for_select(['','student', 'parent'],f.object.role)) %>
  </div>
<% end %>

<div class="field-item">
<%= f.text_field :admin %>
</div>

<% if signed_in? && current_user.admin? && !f.object.admin? %>
  <div class="field-item">
    <%= f.label :parent %>
    <%= collection_select(:user, :parent_id, @parents, :id, :name, { include_blank: true, selected: f.object.parent_id }) %>
  </div>
<% end %>