<div id="list-users" class="large-12 columns">
  
  <%= render partial: 'users/date_header' %>

  <% if @lesson.blank? %>
    <table width="100%">
      <tr>
        <td colspan="2"><h3 align="center"><%= "No lesson for this day!" %></h3></td>
      </tr>
    </table>
  <% else %>
    <%= form_for(@lesson) do |f| %>

      <table width="100%">

        <tr>
          <td colspan="2"><h1 align="center"><%= f.object.name %></h3></td>
        </tr>

        <tr>
          <td width="50%">
            <h4 align="center">Must be practised:</h4>
            <%= f.text_area :must_be_practised, size: "x12", disabled: (current_user.role != "teacher") %>
          </td>
          <td width="50%">
            <h4 align="center">How to practise:</h4>
            <%= f.text_area :how_to_practise, size: "x12", disabled: (current_user.role != "teacher") %>
          </td>
        </tr>

        <tr>
          <td colspan="2" >
           
            <div class="field-item">
              <h4 align="center">Resources:</h4>
              <% @resources_all = @resources; @resources = @lesson.resources; @resources_show = {} %>
              <%= render partial: 'resources/available_resources', locals:{ local_hash: {mode: "embedded", parent_model_name: "lesson", table_id_pre: "embedded_", checked: true, change: current_user.admin}} %>
            </div>

            <% if current_user.role == "teacher" %>
              <span class="success button small radius" onclick="$('#ResourcesModal').arcticmodal()">add yet resource</span>
              <div style='display: none;'>
                <div id="ResourcesModal" class="box-modal">
                  <div class="box-modal_close arcticmodal-close">close</div>
                    <div id="resources_modal">
                        <% @resources = @resources_all %>
                        <%= render partial: 'resources/available_resources', locals:{local_hash: {mode: "embedded", parent_model_name: "lesson", style: "fixed"}} %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

          </td>
        </tr>

        <% if current_user.role == 'teacher' %>
        <tr>
          <td colspan="2">
            <div class="input-daterange input-group" id="datepicker">
            <div class="input-daterange" id="datepicker">
              <h4 align="center">Date start:</h4>
              <%= text_field_tag :lesson_date_start, @lesson.date_start.strftime("%d/%m/%Y"), name: "lesson[date_start]", disabled: (current_user.role != "teacherALL") %>
              <h4 align="center">Date finish:</h4>
              <%= text_field_tag :lesson_date_finish, @lesson.date_finish.strftime("%d/%m/%Y"), name: "lesson[date_finish]", disabled: (current_user.role != "teacherALL")%>
            </div>
            <% if current_user.role == "teacher" %>
              <script type="text/javascript">
                $('.input-daterange').datepicker({
                  format: "dd/mm/yyyy",
                  calendarWeeks: true,
                  autoclose: true,
                  todayHighlight: true
                });
                </script>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>

        <tr>
          <td>
            <h4 align="center">Status:</h4>
            <%= select_tag('lesson[status]', options_for_select(['new','in progress', 'completed'], f.object.status)) %>
          </td>
          <td>
            <h4 align="center">Raiting:</h4>
            <%= select_tag('lesson[raiting]', options_for_select(['normal','high', 'low'],f.object.raiting), {disabled: (current_user.role != "teacher")}) %>
          </td>    
        </tr>

        <tr>
          <td colspan="2">
            <h4 align="center">Minutes was practiced:</h4>
            <%= render "users/minutes_was_practiced" %>
          </td>
        </tr>

        <tr>
          <td colspan="2"><h4 align="center">Last comments:</h4><td>
        <tr>

        <tr>
          <td>
            <ul id="teacher_comments" class="list-group">
              <%= render @lesson.comments.where("type_owner = ?", "student").last(5), locals: {simple: true} %>
            </ul>
          </td>
           <td>
                <ul id="teacher_comments" class="list-group">
                  <%= render @lesson.comments.where("type_owner = ?", "teacher").last(5), locals: {simple: true} %>
                </ul>
          </td>
        </tr>

        <tr>
          <td colspan="2"><%= link_to "all comments", lesson_comments_path(@lesson) %></td>
        <tr>

      </table>

    <% end %>
  <% end %>
</div>

<% if @lesson.present? %>
  <script>

    $(document).ready(function(){
      var mh = $('*[id^=lesson_minutes_hash_]');
      mh.change(function(){return update_minutes_hash(mh);});
      $("#lesson_status").change(function(){return update_attribute($("#lesson_status"));});
      $("#lesson_raiting").change(function(){return update_attribute($("#lesson_raiting"));});
      $("#lesson_must_be_practised").change(function(){return update_attribute($("#lesson_must_be_practised"));});
      $("#lesson_how_to_practise").change(function(){return update_attribute($("#lesson_how_to_practise"));});
      return false;
    });

    
      var update_attribute = function(el) {
        $.ajax({
          type: "put",
          url: "<%=lesson_path(@lesson) %>",
          data: el.attr('name') +"="+ el.val(),
          success: function(data){
            if (data.errors_message!=undefined) {alert(data.errors_message)};
          }
        });
      };

      var update_minutes_hash = function(mh) {
        var lesson = {};
        lesson.minutes_hash ={};
        lesson.minutes_hash[mh.attr("id").substring("lesson_minutes_hash_".length)]=mh.val();
        $.ajax({
          type: "put",
          dataType: 'json',
          contentType: 'application/json',
          url: "<%=lesson_path(@lesson) %>",
          data: JSON.stringify(lesson),
          success: function(data){
            if (data.errors_message!=undefined) {alert(data.errors_message)};
          }
        });
      };

      var update_resource_ids = function() {
        var lesson = {};
        lesson.resource_ids = $.map( $(":checkbox:checked"), function(el){ return $(el).val(); });
        $.ajax({
          type: "put",
          dataType: 'json',
          contentType: 'application/json',
          url: "<%=lesson_path(@lesson) %>",
          data: JSON.stringify(lesson),
          success: function(data){
            if (data.errors_message!=undefined) {alert(data.errors_message)};
          }
        });
      };

  </script>
<% end %>