<div id="diary" class="large-12 columns">
  
  <%= render partial: 'users/date_header' %>

  <% if @lesson.blank? %>

  <h3 align="center"><%= "No lesson for this day!" %>

  <% else %>
    <%= form_for(@lesson) do |f| %>

  <h1 align="center"><%= f.object.name %></h1>

    <div class="row">

        <div class="large-6 columns">
            <h5 align="center">Must be practised:</h5>
            <p>e.g What you need to do to complete this lesson</p>
            <%= f.text_area :must_be_practised, size: "x12", disabled: (current_user.role != "teacher") %>
            <h5 align="center">How to practise:</h5>
            <p>e.g Some helpful info on how best to practice this lesson</p>
            <%= f.text_area :how_to_practise, size: "x12", disabled: (current_user.role != "teacher") %>
          <%= select_tag('lesson[status]', options_for_select(['new','in progress', 'completed'], f.object.status)) %>            
        </div>

        <div class="large-6 columns">
            <h5 align="center">Student comments <%= link_to "all comments", lesson_comments_path(@lesson), :class => "all-comments" %></h5>
            <div class="teacher-comments panel">
            <ul id="teacher_comments" class="list-group">
            <%= render @lesson.comments.where("type_owner = ?", "student").last(10), locals: {simple: true} %>
            </ul>
            </div>

            <h5 align="center">Minutes was practiced:</h5>
            <%= render "users/minutes_was_practiced" %>

            <h5 align="center">Teachers comments <%= link_to "all comments", lesson_comments_path(@lesson), :class => "all-comments" %></h5>
            <div class="teacher-comments panel">
            <ul id="teacher_comments" class="list-group">
            <%= render @lesson.comments.where("type_owner = ?", "teacher").last(10), locals: {simple: true} %>
            </ul>
            </div>

                        <%= select_tag('lesson[raiting]', options_for_select(["Bronze","Silver","Gold","Platinum"],f.object.raiting), {disabled: (current_user.role != "teacher")}) %>

        </div>

  <div id="resources" class="large-12 columns">
  <h5 align="center">Resources for this lesson</h5>   
   <div class="panel">
   <div class="field-item">

              <% @resources_all = @resources; @resources = @lesson.resources; @resources_show = {} %>
              <%= render partial: 'resources/available_resources', locals:{ local_hash: {mode: "embedded", parent_model_name: "lesson", table_id_pre: "embedded_", checked: true, change: current_user.admin}} %>
   </div>

            <% if current_user.role == "teacher" %>
              <div class="ui-widget">
                <table>
                  <tr>
                    <td><label for="resources_search">Enter name of resource:</label>
                    <td><input id="resources_search" onkeydown="resources_search_change(false);"></td>
                    <td><a onclick="resources_search_change(true);">add resource</a></td>
                    <!--td><span class="success button small radius" onclick="$('#ResourcesModal').arcticmodal()">add yet resources</span></td-->
                  </tr>
                </table>
              </div>
              <div style='display: none;'>
                <div id="ResourcesModal" class="box-modal">
                  <div class="box-modal_close arcticmodal-close">close</div>
                  <div id="resources_modal">
                        <% @resources = @resources_all %>
                        <%= render partial: 'resources/available_resources', locals:{local_hash: {mode: "embedded", parent_model_name: "lesson", style: "fixed"}} %>
                  </div>
                  <span class="success button small radius" onclick="merge_resources_to_lesson();">add resources</span>
                </div>
              </div>
            <% end %>

  </div>

</div>



    </div>


      <table width="100%">

        <% if current_user.role == 'teacher' %>
        <tr>
          <td colspan="2">
            <div class="input-daterange input-group" id="datepicker">
            <div class="input-daterange" id="datepicker">
              <h4 align="center">Date start:</h4>
              <%= text_field_tag :lesson_date_start, @lesson.date_start.strftime("%d/%m/%Y"), name: "lesson[date_start]", disabled: (current_user.role != "teacher") %>
              <h4 align="center">Date finish:</h4>
              <%= text_field_tag :lesson_date_finish, @lesson.date_finish.strftime("%d/%m/%Y"), name: "lesson[date_finish]", disabled: (current_user.role != "teacher")%>
            </div>
            <% if current_user.role == "teacher" %>
              <script type="text/javascript">
                $('.input-daterange').datepicker({
                  format: "dd/mm/yyyy",
                  calendarWeeks: true,
                  autoclose: true,
                  todayHighlight: true
                });
                </script>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>

      </table>

    <% end %>
  <% end %>
</div>

<% if @lesson.present? %>
  
  <script>
    var lesson_date_start_last, lesson_date_finish_last;
    var hashResources = {};

    $(document).ready(function(){
      var mh = $('*[id^=lesson_minutes_hash_]');
      mh.change(function(){return update_minutes_hash(mh);});
      $("#lesson_status").change(function(){return update_attribute($("#lesson_status"));});
      $("#lesson_raiting").change(function(){return update_attribute($("#lesson_raiting"));});
      $("#lesson_must_be_practised").change(function(){return update_attribute($("#lesson_must_be_practised"));});
      $("#lesson_how_to_practise").change(function(){return update_attribute($("#lesson_how_to_practise"));});
      
      $("#lesson_date_start").change(function(){return changeDate();});
      
      $("#lesson_date_finish").change(function(){return changeDate();});
      lesson_date_start_last = $("#lesson_date_start").val();
      lesson_date_finish_last = $("#lesson_date_finish").val();

      <% if current_user.role == 'teacher' %>
        var availableResources = [];
        <% (@resources_all - @lesson.resources).each do |r| %>
          availableResources.push("<%= r.name %>");
          hashResources["<%= r.name %>"] = "<%= r.id %>";
        <% end %>
        $( "#resources_search" ).autocomplete({ source: availableResources });
      <% end %>

      return false;
    }); // End document ready function

      var resources_search_change = function(p) {
        if (hashResources[$("#resources_search").val()] != undefined) {
          var id = hashResources[$("#resources_search").val()];
          r = $("#resource_" + id);
          if (r.attr('id') == ("resource_" + id)) {
            pp = r.parent().parent();
            r.appendTo($('#embedded_'+pp.attr('id')));
            $('*[value=' +id + ']')[0].click();
            $("#resources_search").val("");
          }
        }
        else if (p) {
          alert('No resource with name: "' + $("#resources_search").val() + '"');
        }
      } // End resources_search_change

      var changeDate = function() {
        var change = false;
        if ($("#lesson_date_start").val() != lesson_date_start_last) {
          lesson_date_start_last = $("#lesson_date_start").val();
          change = true;
        }
        if ($("#lesson_date_finish").val() != lesson_date_finish_last) {
          lesson_date_finish_last = $("#lesson_date_finish").val();
          change = true;
        }
        if (change && lesson_date_start_last != "" && lesson_date_finish_last != "") {
          var lesson = {};
          lesson.date_start = $("#lesson_date_start").val();
          lesson.date_finish = $("#lesson_date_finish").val();
          send_ajax(JSON.stringify(lesson),'application/json');
        }
      } // End changeDate

      var update_attribute = function(el) { send_ajax(el.attr('name') +"="+ el.val()); }

      var update_minutes_hash = function(mh) {
        var lesson = {};
        lesson.minutes_hash ={};
        lesson.minutes_hash[mh.attr("id").substring("lesson_minutes_hash_".length)]=mh.val();
        send_ajax(JSON.stringify(lesson),'application/json');
      } // End update_minutes_hash

      var update_resource_ids = function() {
        var lesson = {};
        lesson.resource_ids = $.map( $(":checkbox:checked"), function(el){ return $(el).val(); });
        send_ajax(JSON.stringify(lesson),'application/json');
      } // End update_resource_ids

      var merge_resources_to_lesson = function() {
        var resources = $('*[id^=lesson_resource_ids_]');
        var r, pp;
        if (resources.length > 0) {
          for (var i=0; i<resources.length; i++) {
            r = $('#resource_'+resources[i].value);
            pp = r.parent().parent();
            if ((resources[i].checked) && (pp.attr('id').indexOf('embedded_') == -1)) r.appendTo($('#embedded_'+pp.attr('id'))); 
          }
        }
        $('#ResourcesModal').arcticmodal('close');
      } // End merge_resources_to_lesson

      var send_ajax = function  (data, contentType) {
        
        if (contentType === undefined) contentType = 'application/x-www-form-urlencoded; charset=UTF-8';
        
        $.ajax({
          type: "put",
          dataType: 'json',
          contentType: contentType,
          url: "<%=lesson_path(@lesson) %>",
          data: data,
          success: function(data){
            if (data.str_errors!=undefined){
              if (data.errors_messages.date_finish!=undefined) {}
              else if (data.errors_messages.student_or_date!=undefined) {
                alert(data.str_errors);
                $("#lesson_date_start").val("");
                $("#lesson_date_finish").val("");
              } else {
                alert(data.str_errors);
              }
            }
          }
        });
      } // End send_ajax
  </script>
<% end %>