<div id="signup-panel" class="large-12 columns large-centered radius">
  <div class="panel">
    <h1>New lesson</h1>
    <p>Please fill in the following fields to create lesson</p>
    
    <%= form_for(@lesson) do |f| %>
      <%= render 'shared/error_messages', :object => @lesson %>
      
      <div class="field-item">
        <%= f.label :title %>
        <%= f.text_field :name %>
      </div>

      <div class="field-item">
        <%= f.label :student %>
        <%= collection_select(:lesson, :user_id, @students, :id, :name, { include_blank: true}) %>
      </div>

      <div class="input-daterange input-group" id="datepicker">
        <div class="input-daterange" id="datepicker">
          <%= f.label :date_start %>
          <%= f.text_field :date_start %>
          <%= f.label :date_finish %>
          <%= f.text_field :date_finish %>
        </div>
        <script type="text/javascript">
          $('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            startDate: "today",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
          });
      </script>
      </div>

      <div class="field-item">
        <%= f.label :must_be_practised %>
        <%= f.text_area :must_be_practised, size: "x12" %>
      </div>

      <div class="field-item">
        <%= f.label :how_to_practise %>
        <%= f.text_area :how_to_practise, size: "x12" %>
      </div>

      <div class="field-item">
        <label>Resources:</label>
        <div class="ui-widget">
          <table>
            <tr>
              <td><label for="resources_search">Enter name of resource:</label>
              <td><input id="resources_search" onkeydown="resources_search_change(false);"></td>
              <td><a onclick="resources_search_change(true);">add resource</a></td>
            </tr>
          </table>
          <table id="current_resource">
          </table>
        </div>
        <%= render partial: 'resources/available_resources', locals:{ local_hash: {mode: "embedded", parent_model_name: "lesson", style: "fixed"}} %>
      </div>

      <div class="field-item">
        <%= f.label :raiting %>
        <%= select('lesson', 'raiting', options_for_select(["Bronze","Silver","Gold","Platinum"],f.object.status)) %>
      </div>

      <div class="field-item">
        <%= f.submit "Create lesson", :class => "success button" %>
      </div>
    <% end %>
  </div>
</div>

  <script>
    var lesson_date_start_last, lesson_date_finish_last;
    var hashResources = {};

    $(document).ready(function(){

        var availableResources = [];
        <% (@resources).each do |r| %>
          availableResources.push("<%= r.name %>");
          hashResources["<%= r.name %>"] = "<%= r.id %>";
        <% end %>
        $( "#resources_search" ).autocomplete({ source: availableResources });


      return false;
    }); // End document ready function

      var resources_search_change = function(p) {
        if (hashResources[$("#resources_search").val()] != undefined) {
          var id = hashResources[$("#resources_search").val()];
          r = $("#resource_" + id);
          if (r.attr('id') == ("resource_" + id)) {
            pp = r.parent().parent();
            r.appendTo($("#current_resource"));
            $('*[value=' +id + ']')[0].click();
            $("#resources_search").val("");
          }
        }
        else if (p) {
          alert('No resource with name: "' + $("#resources_search").val() + '"');
        }
      } // End resources_search_change
  </script>