<div id="signup-panel" class="large-12 columns large-centered radius">
  <div class="panel">
    <h1>New lesson</h1>
    <p>Please fill in the following fields to create lesson</p>
    
    <%= form_for(@lesson) do |f| %>
      <%= render 'shared/error_messages', :object => @lesson %>
      
      <div class="field-item">
        <%= f.label :title %>
        <%= f.text_field :name %>
      </div>

      <div class="field-item">
        <%= f.label :student %>
        <%= collection_select(:lesson, :user_id, @students, :id, :name, { include_blank: true}) %>
      </div>

      <div class="input-daterange input-group" id="datepicker">
        <div class="input-daterange" id="datepicker">
          <%= f.label :date_start %>
          <%= f.text_field :date_start %>
          <%= f.label :date_finish %>
          <%= f.text_field :date_finish %>
        </div>
        <script type="text/javascript">
          $('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            startDate: "today",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
          });
      </script>
      </div>

      <div class="field-item">
        <%= f.label :must_be_practised %>
        <%= f.text_area :must_be_practised, size: "x12" %>
      </div>

      <div class="field-item">
        <%= f.label :how_to_practise %>
        <%= f.text_area :how_to_practise, size: "x12" %>
      </div>

      <div class="field-item">
        <table>
          <label>Resources:</label>
          <thead>
            <tr>
              <td>Id</td>
              <td>link</td>
              <td>tag</td>
              <td>joined</td>
            <tr>
          </thead>
          <tbody>
            <% @resources.each do |resource| %>
              <tr>
                <td><%= resource.id %></td>
                <td>     
                  <% if !resource.attachment.file.nil? %>
                    <%= link_to resource.attachment.file.original_filename, resource.attachment.url %></td>
                  <% end %>
                  <% if !resource.link.nil? %>
                    <%= link_to resource.link, resource.link %></td>
                  <% end %>
                </td>
                <td>
                  <% if resource.tag != 'other' %>
                    <%= resource.tag %>
                  <% elsif !resource.attachment.content_type.nil? %>
                    <%= resource.attachment.content_type %>
                  <% end %>
                </td>
                <td><%= check_box_tag "lesson[resource_ids][]", resource.id %></td>
              </tr>
            <% end %>
          <tbody>
        </table>
      </div>

      <div class="field-item">
        <%= f.label :raiting %>
        <%= select('lesson', 'raiting', options_for_select(['normal','high', 'low'],f.object.status)) %>
      </div>

      <div class="field-item">
        <%= f.submit "Create lesson", :class => "success button" %>
      </div>
    <% end %>
  </div>
</div>