<table width="100%" class="users">
  
  <tr width="100%">
    <th width="50%">
      <div align="center">Pdf and Image Files</div>
    </th>
    <th width="50%" align="center">
      <div align="center">Video Files</div>
    </th>
  </tr>

  <tr width="100%">

    <% if local_hash[:style] == "fixed" %>
      <td width="50%" height="250px">
    <% else %>
      <td width="50%">
    <% end %>

      <div style='position:relative; left:0; top:0; width:100%; height:100%; overflow:auto'> 
        <table class="users" width=100% id="<%= local_hash[:table_id_pre].to_s+'image_resources' %>">
        <%= render partial: 'resources/resource', collection:@resources.where('tag = "pdf" or tag = "image"'), locals:{local_hash: local_hash} %>
        </table>
      </div>

    </td>

    <% if local_hash[:style] == "fixed" %>
      <td width="50%" height="250px">
    <% else %>
      <td width="50%">
    <% end %>

      <div style='position:relative; left:0; top:0; width:100%; height:100%; overflow:auto'> 
        <table class="users" width=100% id="<%= local_hash[:table_id_pre].to_s+'video_resources' %>">
        <%= render partial: 'resources/resource', collection:@resources.where('tag = "video"'), locals:{local_hash: local_hash} %>
        </table>
      </div>

    </td>
  </tr>

  <tr width="100%">
    <th width="50%">
      <div align="center">Audio Files</div>
    </th>
    <th width="50%" align="center">
      <div align="center">Shop links to books (and other resources)</div>
    </th>
  </tr>

   <tr width="100%">
    
    <% if local_hash[:style] == "fixed" %>
      <td width="50%" height="250px">
    <% else %>
      <td width="50%">
    <% end %>

      <div style='position:relative; left:0; top:0; width:100%; height:100%; overflow:auto'> 
        <table class="users" width=100% id="<%= local_hash[:table_id_pre].to_s+'audio_resources' %>">
        <%= render partial: 'resources/resource', collection:@resources.where('tag = "audio"'), locals:{local_hash: local_hash} %>
        </table>
      </div>

    </td>

    <% if local_hash[:style] == "fixed" %>
      <td width="50%" height="250px">
    <% else %>
      <td width="50%">
    <% end %>

      <div style='position:relative; left:0; top:0; width:100%; height:100%; overflow:auto'> 
        <table class="users" width=100% id="<%= local_hash[:table_id_pre].to_s+'link_resources' %>">
        <%= render partial: 'resources/resource', collection:@resources.where('tag = "linkk" or tag = "other"'), locals:{local_hash: local_hash} %>
        </table>
      </div>

    </td>
  </tr>

</table>
