<% @resources_show = {} if !(defined? @resources_show); if @resources_show["resource_#{resource.id}"].nil? %>
  <% @resources_show["resource_#{resource.id}"] = true %>
  <tr id="resource_<%= resource.id %>">
    
    <td>
      <% if !resource.attachment.file.nil? %>
        <%= link_to resource.attachment.file.original_filename, resource.attachment.url, target: "_blank" %>
      <% end %>
      <% if !resource.link.nil? %>
        <% name_link = resource.link.size < 50 ? resource.link : resource.link[0..50] + '...' %>
        <%= link_to name_link, resource.link, target: "_blank" %>
      <% end %>
    </td>

    <% if local_hash[:mode] == "embedded" && local_hash[:change] != false %>
      
      <td>
        <%= check_box_tag "#{local_hash[:parent_model_name]}[resource_ids][]", resource.id, local_hash[:checked], { onclick: "update_resource_ids();" } %>
      </td>

    <% elsif current_user.admin? %>
      
      <td><%= link_to "Delete",  resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>
  </tr>
<% end %>